# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dev\TestGitHub\.idea/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# IDEs and editors
/.idea